@model PaginatedList<MusicHub.Models.Album>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="/css/app/App.css" />
<link href="~/lib/bootstrap/dist/css/grid.css" rel="stylesheet" />


@foreach (var item in Model)
{
    <div class="container">
        <div class="caption">
            <div class="Album">
                <h3>@item.Title</h3>

                <h4>@item.Price.ToString("c")</h4>
            </div>
        </div>
    </div>
    }
    @{
        var prevDisabled = !Model.PreviousPage ? "disabled" : "";
        var nextDisabled = !Model.NextPage ? "disabled" : "";
    }
    <a asp-action="List"
       asp-route-pageNumber="@(Model.PageIndex -1)"
       class="btn btn-default @prevDisabled"}>
        Previous
    </a>
    <a asp-action="List"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next
    </a>

